/* ------- GERAL -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'DM Sans', sans-serif, 'Rubik', sans-serif, 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    overflow: overlay;
}

h1 {
    font-weight: 36px;
    font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: rgb(222, 222, 222);
  --second-color: rgba(249, 249, 249, 1);
  --light-color:rgba(255, 255, 255, 1);
  --buttoncolor: rgba(105, 185, 157, 1);
}

/* ----- NAVIGATION ----- */
nav {
    position: fixed;
    width: 100vw;

    z-index: 100;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 1.7rem;
    margin-inline: 12rem;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 3.2rem;
}

.menu ul a {
    text-decoration: none;
    color: black
}

nav#navigation.scroll .menu ul li a {
    color: var(--buttoncolor);
    opacity: 0.6;
}

nav#navigation .menu li a {
    transition: opacity 0.4s;
}

nav#navigation .menu li a.active,
nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
}

nav#navigation .menu li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--buttoncolor);

    position: relative;
    bottom: -2rem;
    left: -0.5rem;

    display: block;

    transition: width 0.2s;
}

nav#navigation.scroll .menu li a::after {
    background-color: white;
}

nav#navigation .menu li a.active::after,
nav#navigation .menu li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
}

nav#navigation.scroll .menu li a.active,
nav#navigation.scroll .menu li a:hover {
    opacity: 1;
}

/* ------ INICIO ----------- */
.container {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    align-items: flex-start;
    margin-left: 12rem;
    background-color: var(--second-color);
}


.container h1 {
    text-align: center;
    width: 25rem;
    margin-bottom: 1.2rem;
    font-size: 36px;
    text-align: start;

}

.container p {
    width: 21rem;
    font-size: 18px;
    color: rgba(118, 118, 118, 1);
    margin-bottom: 2.4rem;
   
}

.container button {
    padding: 0.8rem;
    background-color: var(--buttoncolor);
    border-radius: 0.4rem;
    border: none;

} 

.container button a {
    text-decoration: none;
    color: white
}

.container button:hover {
    background-color: rgb(75, 231, 173);
    transition: 0.6s;
}

#inicio, .container .img1 {
    display: flex;
    justify-content: space-between;
    padding-top: 8.4rem;
    padding-bottom: 17rem;
    background-color: var(--second-color);
}

.img1 {
    margin-right: 7.1rem;
}
   
/* -------- SOBRE -----------*/
#sobre, .img2, .about {
    display: flex;
    padding-block: 6rem;

}

.img2 {
    max-width: 77.3rem;
    max-height: 44.3rem;
}

.about {
    flex-direction: column;
    margin-left: 6.4rem;
    margin-right: 12.1rem;

}

.about h1 {
    font-size: 36px;
    text-align: left;
}

.about p {
    max-width: 61rem;
    max-height: 5.4rem;
    text-align: left;
    color: rgba(118, 118, 118, 1);
}

/* ------------- SERVIÇOS ----------- */
#serviços {
    padding-block: 6rem;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
}

.services h1 {
    margin-bottom: 1.2rem;
}

.services p {
    margin-bottom: 6.4rem;
    max-width: 27rem;
    margin-inline: auto;
    font-size: 18px;
}

.box {
    display: flex;
    gap: 3.2rem;
    margin-inline: 12.3rem;
}

.box1, .box2, .box3 {
   background-color: rgb(245, 245, 245);
   border-bottom: solid 2px rgba(105, 185, 157, 1);
   padding-block: 5.4rem;
   max-width: 35.2rem;
   
}

.box1 p, .box2 p, .box3 p {
    max-width: 25.3rem;
    padding-inline: 4.8rem;
    margin-top: 1.2rem;
}

/* ---------- DEPOIMENTOS ----------- */
#depoimento {
    padding-block: 6rem;

}

#depoimento h1 {
    margin-bottom: 6.4rem;
    max-width: 22rem;
    margin-inline: auto;
}

.details {
    margin-top: 5.8rem;
}

/* ---------- CONTATOS ----------- */
#contatos {
    padding-block: 6rem;
    background-color: var(--second-color);
}

#contatos, .ctt1, .ctt2 {
    display: flex;
    justify-content: space-around;
}

.ctt1 {
    flex-direction: column;
}

.ctt1 h1 {
    max-width: 15rem;
    text-align: left;
    margin-bottom: 1.2rem;
}

.ctt1 p {
    color: rgba(118, 118, 118, 1);
    max-width: 18.5rem;
    text-align: left;
    margin-bottom: 2.4rem;
}

.button  {
    display: flex;
    padding: 0.7rem;
    max-width: 12rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: var(--buttoncolor);
    border-radius: 0.4rem;
    border: none;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
}

.ctt1 button svg {
    max-height: 1.2rem;
    max-width: 1.2rem;
}

/*.ctt1 button a {
    text-decoration: none;
    color: white;
}*/

.button:hover {
    background-color: rgb(75, 231, 173);
    transition: 0.6s;
}

.ctt2 ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: left;
    text-align: left;
    margin-top: 3rem;
    gap: 1rem;
}

.ctt2 ul li {
    display: flex;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

/*--------- FOOTER  ----------- */
#footer {
    padding-block: 6rem;
    background-color: var(--buttoncolor);
    text-decoration: none;
}

#footer, .salon, .links {
    display: flex;
    justify-content: space-around;
}

.salon {
    flex-direction: column;
    text-align: left;
}

.salon svg {
    margin-bottom: 2.4rem;
}

.salon p {
    color: rgba(249, 249, 249, 1);
    margin-bottom: 1rem;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* -------- backToTop button -------- */
#backToTopButton {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;

    opacity: 0;
    visibility: hidden;

    transform: translateY(100%);
    transition: 200ms;
}

#backToTopButton.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#backToTopButton circle {
    fill: hsl(170, 100%, 26%);
}